/{
    aliases {
        in1 = &in1_pin;
        in2 = &in2_pin;
        in3 = &in3_pin;
        in4 = &in4_pin;
        pmotor = &motor_pwm0;
        pmotort = &motor_pwm1;
    };

    gpio_keys {
        compatible = "gpio-keys";
        in1_pin: in1_pin{
            gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
            label = "IN1";
        };

        in2_pin: in2_pin{
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
            label = "IN2";
        };

        in3_pin: in3_pin{
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
            label = "IN3";
        };

        in4_pin: in4_pin{
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
            label = "IN4";
        };
    };
    
    pwm_motor {
        compatible = "pwm-leds";

        motor_pwm0: motor_pwm0  {
            status = "okay";
            pwms = <&pwm2 1 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "ENA_PWM";
        };

        motor_pwm1: motor_pwm1 {
            status = "okay";
            pwms = <&pwm2 2 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "ENA2_PWM";
        };


    };

};



&timers2 {
    status = "okay";
};

&pwm2 {
    status = "okay";
    pinctrl-0 = <&tim2_ch1_pa0 &tim2_ch2_pa1>;
    pinctrl-names = "default";
};